.transparent-bg {
  left: 0;
  top: 0;
  position: absolute;
  width: 100%;
}

.transparent-bg .sidemenu_btn > span {
  background: #fff;
}

.navbar {
  padding: 0.35rem 0;
  z-index: 1000;
}

.sidemenu_btn {
  -webkit-transition: all .3s linear;
  -o-transition: all .3s linear;
  transition: all .3s linear;
  width: 36px;
  padding: 6px;
  margin-right: 1rem;
  margin-top: 1px;
  right: 20px;
}

.side-menu {
  width: 40%;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1610;
  height: 100vh;
  -webkit-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
  -webkit-transition: transform .5s ease-in-out, -webkit-transform .5s ease-in-out, -o-transform .5s ease-in-out;
  -o-transition: transform .5s ease-in-out, -webkit-transform .5s ease-in-out, -o-transform .5s ease-in-out;
  transition: transform .5s ease-in-out, -webkit-transform .5s ease-in-out;
  overflow: hidden;
}

#close_side_menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  display: none;
  z-index: 1031;
  opacity: 0.5;
  cursor: pointer;
}

.side-menu .inner-wrapper {
  padding: 4.5rem 4rem;
  height: 100%;
  position: relative;
  overflow-y: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: left;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.side-menu .btn-close.btn-close-no-padding {
  top: 24px;
}

.overlay {
  background-size: 100% 100%;
  background-image: -o-linear-gradient(to right, #23ced5aa 0%, #5192e1aa 100%);
  background-image: -webkit-gradient(linear, left top, right top, from(#23ced5aa), to(#5192e1aa));
  background-image: -o-linear-gradient(left, #23ced5aa 0%, #5192e1aa 100%);
  background-image: linear-gradient(to right, #23ced5aa 0%, #5192e1aa 100%);
  position: absolute;
  opacity: 0;
  visibility: hidden;
  z-index: 99;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
}

.gradient-bg {
  background-size: 200% auto;
  background-image: -o-linear-gradient(left, #392d8a 0%, #850856 51%, #392d8a 100%);
  background-image: -webkit-gradient(linear, left top, right top, from(#392d8a), color-stop(51%, #850856), to(#392d8a));
  background-image: linear-gradient(to right, #68d03e 0%, #083a85 51%, #68d03e 100%);
}

.side-menu .btn-close.btn-close-no-padding {
  top: 24px;
}

.side-menu .btn-close {
  height: 33px;
  width: 33px;
  -webkit-box-shadow: 0 4px 4px -4px rgba(0, 0, 0, 0.15);
  box-shadow: 0 4px 4px -4px rgba(0, 0, 0, 0.15);
  border-radius: 50%;
  display: inline-block;
  text-align: center;
  position: absolute;
  margin-right: 1.5rem;
  margin-top: 0;
  right: 20px;
  top: 24px;
  z-index: 12;
  cursor: pointer;
}

.side-menu .btn-close:before {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.side-menu .btn-close:after {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.side-menu .btn-close::before, .side-menu .btn-close::after {
  left: 16px;
  height: 24px;
  width: 2px;
  background: #fff;
  top: 5px;
}

.sidemenu_btn, .side-menu .btn-close, .side-menu .btn-close::before, .side-menu .btn-close::after {
  position: absolute;
}

.side-menu .btn-close::before, .side-menu .btn-close::after {
  content: "";
}

a, *::before, *::after {
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.side-menu .side-nav {
  margin-bottom: 30px;
  display: block;
}

.side-menu.side-menu-active .side-nav .navbar-nav .nav-item {
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
  opacity: 1;
}

.side-nav .navbar-nav .nav-item:first-child {
  -webkit-transition-delay: .1s;
  -o-transition-delay: .1s;
  transition-delay: .1s;
  margin-top: 0;
}

.side-nav .navbar-nav .nav-item:nth-child(2) {
  -webkit-transition-delay: .2s;
  -o-transition-delay: .2s;
  transition-delay: .2s;
}

.side-nav .navbar-nav .nav-item:nth-child(3) {
  -webkit-transition-delay: .3s;
  -o-transition-delay: .3s;
  transition-delay: .3s;
}

.side-nav .navbar-nav .nav-item:nth-child(4) {
  -webkit-transition-delay: .4s;
  -o-transition-delay: .4s;
  transition-delay: .4s;
}

.side-nav .navbar-nav .nav-item:nth-child(5) {
  -webkit-transition-delay: .5s;
  -o-transition-delay: .5s;
  transition-delay: .5s;
}

.side-nav .navbar-nav .nav-item:nth-child(6) {
  -webkit-transition-delay: .6s;
  -o-transition-delay: .6s;
  transition-delay: .6s;
}

.side-nav .navbar-nav .nav-item {
  display: block;
  margin: 8px 0;
  padding: 0 !important;
  opacity: 0;
  -webkit-transition: all 0.8s ease 500ms;
  -o-transition: all 0.8s ease 500ms;
  transition: all 0.8s ease 500ms;
  -webkit-transform: translateY(30px);
  -ms-transform: translateY(30px);
  transform: translateY(30px);
}

.side-nav .navbar-nav .nav-link::before, .breadcrumb .breadcrumb-item a::before {
  content: '';
  position: absolute;
  background: #fff;
  display: inline-block;
  width: 0;
  height: 3px;
  bottom: 0;
  left: 0;
  overflow: hidden;
  -webkit-transition: all 0.5s cubic-bezier(0, 0, 0.2, 1);
  -o-transition: all 0.5s cubic-bezier(0, 0, 0.2, 1);
  transition: all 0.5s cubic-bezier(0, 0, 0.2, 1);
}

.side-nav .navbar-nav .nav-link:hover::before, .breadcrumb .breadcrumb-item a:hover::before {
  width: 100%;
}

.nav-link:focus, .nav-link:hover {
  text-decoration: none;
}

.navbar-nav .nav-link:hover, .navbar .dropdown:hover .dropdown-toggle, .dropdown-menu .dropdown-item:hover, .dropdown-menu.megamenu .dropdown-item:hover {
  color: #392d8a !important;
}

.navbar-nav .nav-item:first-child {
  margin-left: 0;
}

.navbar-nav .nav-item {
  position: relative;
}

.navbar-brand > img {
  width: 100%;
}

.navbar.fixedmenu .logo-scrolled, .navbar .logo-default {
  display: inline-block;
}

.logo-default, .logo-scrolled {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  border-style: none;
}

.side-nav .navbar-nav .nav-link {
  display: inline-table;
  color: #fff !important;
  padding: 5px 0 !important;
  margin: 0;
  font-size: 1.5rem;
  font-weight: 300;
}

.navbar-nav .nav-link {
  padding: 8px 0 !important;
  font-weight: 500;
  text-transform: capitalize;
  font-size: 14px;
  color: #26313c;
  position: relative;
  line-height: normal;
  margin: 16px 1.25rem;
  display: inline-block;
}

.side-nav .navbar-nav .nav-link.active::before {
  width: 100%;
}

.side-nav .navbar-nav .nav-link::before, .breadcrumb .breadcrumb-item a::before {
  content: '';
  position: absolute;
  background: #fff;
  display: inline-block;
  width: 0;
  height: 3px;
  bottom: 0;
  left: 0;
  overflow: hidden;
  -webkit-transition: all 0.5s cubic-bezier(0, 0, 0.2, 1);
  -o-transition: all 0.5s cubic-bezier(0, 0, 0.2, 1);
  transition: all 0.5s cubic-bezier(0, 0, 0.2, 1);
}

.navbar.fixedmenu .logo-default, .navbar .logo-scrolled {
  display: none;
}

.static-nav .navbar-nav .nav-link:before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 3px;
  width: 0;
  height: 2px;
  background: #392d8a !important;
  margin: auto;
  -webkit-transition: 0.4s all;
  -o-transition: 0.4s all;
  transition: 0.4s all;
}

.navbar-nav .nav-link.active:before {
  width: 100%;
}

.social-icons-simple {
  margin-top: -3px;
  color: #ffffff;
}

.side-menu.side-menu-active {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.navbar-brand > img {
  width: 100%;
}

.transparent-bg .navbar-nav .nav-link {
  color: #fff;
}

.fixedmenu .navbar-nav .nav-link {
  color: #26313c;
}

.top40 {
  margin-top: 40px;
}

.side-menu p {
  font-size: 13px;
  margin-top: .5rem;
  margin-bottom: 0;
}

.sidemenu_btn > span {
  height: 2px;
  width: 100%;
  display: block;
}

.sidemenu_btn > span:nth-child(2) {
  margin: 4px 0 4px auto;
  width: 75%;
  -webkit-transition: 0.3s all;
  -o-transition: 0.3s all;
  transition: 0.3s all;
}

.sidemenu_btn:hover > span:nth-child(2), .sidemenu_btn:hover > span:nth-child(3) {
  width: 100%;
}

.sidemenu_btn > span:nth-child(3) {
  margin-left: auto;
  width: 45%;
  -webkit-transition: 0.6s all;
  -o-transition: 0.6s all;
  transition: 0.6s all;
}

.fixedmenu {
  top: 0;
  left: 0;
  right: 0;
  position: fixed;
  margin: 0 !important;
  padding: 0;
  z-index: 1002;
  background: #fff !important;
  -webkit-box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.35);
  box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.35);
  -webkit-animation-name: animationFade;
  animation-name: animationFade;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.navbar-btn {
  position: relative;
  top: 12px;
}

.navbar-flag {
  width: 26px;
  margin-top: -4px;
}

.navbar-dropdown-btn {
  margin-top: 16px;
}

ul.social-icons.white li a, ul.social-icons-simple.white li a, ul.social-icons li a:hover, ul.social-icons li a:focus, ul.social-icons.white li a:hover, ul.social-icons.white li a:focus {
  color: #fff;
}

ul.social-icons-simple li a {
  border: none;
}

ul.social-icons li a, ul.social-icons-simple li a {
  height: 30px;
  line-height: 30px;
  width: 30px;
  font-size: 14px;
  border-radius: 50%;
  margin: 0 1px;
  text-align: center;
  display: block;
  color: #26313c;
  position: relative;
  z-index: 1;
}

a, *::before, *::after, .button, .image img, .navbar, .navbar .dropdown-menu, .team-content h4, .overlay, .overlay ul, .card-header .card-link:before, .contact-table .icon-cell, .feature-item .icon, .cbp-l-filters .cbp-filter-item span, .testi-box .testimonial-round > img, .feature-item .icon, #services-slider .service-box > span {
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.social-icons-simple {
  margin-top: -3px;
  padding: 0;
}

ul.social-icons-simple li, ul.social-icons li {
  display: inline-block;
}

.w-100 {
  width: 100%!important;
}

.navbar.fixedmenu .social-icons.white li a:hover, .side-menu .social-icons-simple li a:hover {
  color: #fff;
}

.facebook:before {
  background-color: #4267B2 !important;
}

.insta:before {
  background: -o-radial-gradient(30% 107%, circle, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%) !important;
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%) !important;
}

ul.social-icons li a:hover::before, ul.social-icons li a:focus::before, ul.social-icons-simple li a:hover::before, ul.social-icons-simple li a:focus::before {
  opacity: 1;
  visibility: visible;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

ul.social-icons li a::before, ul.social-icons-simple li a::before {
  content: "";
  position: absolute;
  left: -1px;
  right: -1px;
  bottom: -1px;
  top: -1px;
  opacity: 0;
  visibility: hidden;
  background: #392d8a;
  border-radius: inherit;
  z-index: -1;
  -webkit-transform: scale(.5);
  -ms-transform: scale(.5);
  transform: scale(.5);
}

.whitecolor {
  color: #fff;
}

@keyframes animationFade {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@media (max-width: 1200px) {
  .side-menu .inner-wrapper {
    padding: 4rem 3.25rem;
  }
}

@media (max-width: 1024px) {
  .side-menu .inner-wrapper {
    padding: 4rem 2.7rem;
  }
}

@media (max-width: 1024px) {
  .side-nav .navbar-nav .nav-link {
    font-size: 1.25rem;
  }
}

@media (max-width: 992px) {
  .side-menu .btn-close {
    top: 33px;
    margin-right: 1.2rem;
    right: 15px;
  }
}

@media (max-width: 992px) {
  .side-menu .inner-wrapper {
    padding: 2rem 2.5rem;
  }
}

@media (max-width: 992px) {
  .transparent-bg:not(.fixedmenu) {
    background: rgba(38, 49, 60, 0.55);
    padding: 0;
  }
}

@media (max-width: 992px) {
  .navbar-expand-lg > .container, .navbar-expand-lg > .container-fluid {
    padding-right: 15px;
    padding-left: 15px;
  }
}

@media (max-width: 992px) {
  .side-menu {
    width: 50%;
  }
}

@media (max-width: 992px) {
  .side-menu .btn-close {
    top: 33px;
    margin-right: 1.2rem;
    right: 15px;
  }
}

@media (max-width: 992px) {
  nav.side-nav {
    margin-top: 35px;
  }
}

@media (max-width: 992px) {
  .side-nav .navbar-nav .nav-link {
    font-size: 1.125rem;
  }
}

@media (max-width: 992px) {
  p {
    font-size: 13px;
  }
}

@media (max-width: 767px) {
  .side-menu .btn-close {
    top: 26px;
  }
}

@media (max-width: 767px) {
  .side-menu {
    width: 80% !important;
  }
}

@media (max-width: 576px) {
  .side-menu {
    width: 100% !important;
  }
}

@media (max-width: 424px) {
  .side-menu .btn-close {
    margin-right: 0.7rem;
  }
}

